*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  background-image: linear-gradient(rgba(0,0,0.8,0.5),rgba(0,0,0.8,0.5)),url(./image/foto2.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

/* code my nav-bar */
nav{
height: 80px;
width: 100%;
background-color: red;
line-height: 80px;
}

.content-left h1{
  color: rgb(45, 16, 112);
}
.content-left h5{
  color: white;
}

.logo{
  font-size: 25px;
  font-weight: bold;
  padding: 0 40px;
  color: white;
}

nav ul{
  float: right;
  list-style: none;
  margin-right: 40px;
  
  
}
nav ul li{
  display: inline-block;
  margin-right: 40px;
  font-size: 20px;

}
 ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color:white;
  position: relative;
}
ul li a:hover{
  color: rgb(16, 101, 132)
}
 ul li a:after{
  content: "";
  width: 0;
  height: 10px;
  background-color: blue;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 47px;
  transition:  0.5s; 
}
 ul li a:hover::after{
  width: 100%;
  
}
.menu-bar{
font-size:30px;
color: white;
float: right;
margin-right: 20px;
display: none;
}
#checkme{
  display: none;
}
.menu-bar :hover{
  color: blue;
}


/* code for the body of my site */

span{
  color: palevioletred;
}
.home-screen{
  width: 1140px;
  margin: 20px auto;
display: flex;

align-items: center;
justify-content: center;
}
.content-left,.content-right{
  flex-basis: 50%;
}



/* left hand content design */
.input-search{
  display: flex;
  border-bottom: 1px solid ;
  width: 400px;
  padding-bottom: 1px;
  margin: 10px 0 30px;
}
.search-box input {
  color: white;
}
.search-box{
  width: 100%;
  border: none;
  outline: none;
}
.search-logo{
  opacity: 50%;
  width:20px;
}

.insta,.utube,.twit{
width: 35px;
margin-right: 40px;
}

.soal-media{
  display: flex;
  width: 100px;
  position: relative;
  margin-left: 120px;
  margin-top: 20px;
  
}
.soal-media::after{
  content: '';
  height: 2px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: 19px;
  right: 120px;
}


/* right hand content design */

.content-right{
  padding-left: 80px;
}
.form-field{
  width: 100%;
  max-width: 450px;
  background-color: rgb(92, 9, 9);
  color: white;
  padding: 30px 60px 30px;
  text-align: center;

}
.form-field h1{
  margin-bottom: 40px;
  font-size: 60px;
  position: relative;
}
.form-field h1::after{
  content: '';
  width: 60px;
  height: 10px;
  position: absolute;
  background-color: red;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  border-radius: 10px;
}
.input-field{
  width: 100%;
  background-color: #eaeaea;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.input-field i{
  margin-left: 10px;
  padding: 10px;
  color: black;
  margin-top: 10px;
}
input{
  padding: 20px 0 10px;
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
}
.input-group p{
text-align: left;
}
.input-group p a{
  text-decoration: none;
  color: blue;
}
.input-group p a:hover{
  color: #999;
}
.btn-field{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn-field button{
  height: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  font-size: 20px;
  background-color: red;
  color: white;
 
}
.btn-field button.disable{
  background-color: #eaeaea;
  color: #999;
}
.btn-field button:hover{
color: blue;
}




/* use to make my nav bar mobile responsive */
@media(max-width:700px){
  .menu-bar{
    display: block;
  }
  .logo{
    font-size: 30px;
    padding: 0 50px;
  }
}

@media(max-width:800px){
  nav ul li {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    
  }
  nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
 
  ul{
    width:  30%;
    height: 25rem;
    position: fixed;
    background-color: rgb(128, 128, 128);
    text-align: center;
    top: 80px;
    left: -100%;
    transition: 0.5s;
   
  }
  ul li a{
    color: brown;
  }
  ul li a:hover::after{
    width: 0;
    
  }
  ul li a:hover{
    color: blue;
  }

  #checkme:checked ~ ul{
    left: 0;
  }
  #checkme:checked ~ .home-screen{
    width: 0;
    height:0 ;
  }

  
}

@media(max-width:1000px){
  .home-screen{
    margin: 20px auto;
    display: block;
    width: auto;
    justify-content: center;
    padding: 10px;
   padding-left: 0;
    
  }

  .content-right{
    justify-content: center;
    margin-top: 20px;
    
    
    
  }
.content-left h1,h5{
  text-align: center;
}
.content-left h1{
  margin-bottom: 10px;
}
}


/* about-css-design */


/* body{
  background-image: linear-gradient(rgba(0,0,0.5,0.8),rgba(0,0,0.5,0.5)),url(./image/foto5.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

.about-me{
  width: 1140px;
  margin: 80px auto;
}
.card{
  border: 1px solid blue;
  margin-top: 20px;
  width: 350px;
  padding: 30px 20px 40px;
}
.start-msg p{
  padding: 0 200px 0;
  color: wheat;
}
.start-msg h1{
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 10px;
}
.all-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
}
.education{
  background-color: gray;
  color: white;
}
.country{
  background-color: gray;
  color: white;
}
.hobbies{
  background-color: gray;
  color: white;
}
.education.country.hobbies, h3{
 color: black;
}

.education.country, h5{
  color: rgb(86, 7, 7);
}


.title{
  display: flex;
  align-items: center;
}
.title img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.education p{
  margin-top: 10px;
}
button{
  padding: 20px;
  border-radius: 20px;
  border: 0;
  margin-top: 30px;
  background-color: #eaeaea;
  width: 90px;

}
button a{
 text-decoration: none;
}
button:hover{
  background-color: blue;
  color: white;
}
.email{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  
}
.whatsapp{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 3px;
}
.email i{
  margin-right: 5px;
  margin-top: 5px;
}
.whatsapp i{
  margin-right: 5px;
  margin-top: 5px;
}

.contact-info p{
  text-align: center;
  font-size: 25px;
  color: white;
}

@media(max-width:900px){
  .all-card{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .start-msg p{
    padding: 0;
  }
  .start-msg{
    padding:  70px;
    text-align: center;
  }
  .about-me{
    width: auto;
  }
}